<div class="alert alert-danger mt-4" role="alert">
    <span class="oi oi-circle-x m-2" arian-hidden="true"></span>
    <strong>@Mensagem</strong>
</div>

@code {

    [Parameter] public string Mensagem { get; set; }

}
