
<h1>@Titulo</h1>

@if (tarefas == null)
{
    @*<p>Carregando...</p>*@
    <Alerta Mensagem="Carregando..." />
}
else if (!tarefas.Any())
{
    @*<p>Ainda não existem tarefas...</p>*@
    <Alerta Mensagem="Não existem Tarefas" />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Ação</th>
                <th>Data</th>
                <th>Descriçao</th>
                <th>Concluida</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tarefas)
            {
                <tr>
                    <TarefaIndividual item="item" RemoveTarefa="RemoverTarefa" />
                </tr>
            }
        </tbody>
    </table>
}

@if (tarefas != null)
{
    <div class="form-group">
        <label>Tarefa</label>
        <input type="text" placeholder="Informe a tarefa" @bind="novaTarefa" />
        <button class="btn btn-primary" @onclick="AdicionarNovaTarefa">Registrar Tarefa</button>
    </div>
}



@code{

    [Parameter] public List<Tarefa> tarefas { get; set; }
    [Parameter] public string Titulo { get; set; }



    private string novaTarefa = "";

    void AdicionarNovaTarefa()
    {
        if (!string.IsNullOrWhiteSpace(novaTarefa))
        {
            tarefas.Add(new Tarefa
            {
                DataCriacao = DateTime.Now,
                Descricao = novaTarefa,
                ID = Guid.NewGuid()
            });
            novaTarefa = "";
        }
    }
    private void RemoverTarefa(Tarefa tarefa)
    {
        tarefas.Remove(tarefas.First(x => x.ID == tarefa.ID));
    }

}